**/bin/
**/obj/
.vs/
*.vsidx
*.user
*.stackdump
*.lscache
*~
*- Backup*

Code/BetterFG.Installer/payload/
Code/BetterFG.Installer/payload_stage/
Code/BetterFG.Installer/plugin_only_stage/
Code/BetterFG.Installer/publish/

_creator_deploy_test/
.roundtemplate_pkg/
*.md
Code/BetterFG.Installer/payload_src
Code/BetterFG/Customization/Profiles/
Code/BetterFG/UI/Windows/ProfilesWindow.cs
Code/BetterFG/Patches/PatchEAC.cs
